<a href="https://colab.research.google.com/github/sameep-git/ResearchWomensHealth/blob/main/Women's_Health_Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Women's health in North Texas: importing excel data file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame(pd.read_csv("/home/data.csv"))
#df = df.drop([0])
#df = df.drop(["StartDate","EndDate"], axis=1)
#df = df.dropna(thresh=5)
df

,StartDate,EndDate,Language,Gender,ZipCode,Age,HouseholdIncome,Q3,Q52,Q52_6_TEXT,...,Q25_10,Q25_11,Q25_12,Q25_13,Q25_14,Q25_15,Q25_16,Q25_17,Q25_18,original_clear
0,10/1/2022 11:07:36,10/1/2022 11:11:07,1,,76109,2,1,4,,,...,2,2,2,3,1,1,1,2,2,1
1,11/10/2022 20:30:59,11/10/2022 21:10:18,1,2,76179,1,1,2,3,,...,1,1,3,3,1,3,1,1,1,1
2,11/12/2022 7:16:27,11/12/2022 7:29:06,1,2,76103,1,5,4,3,,...,1,1,3,2,1,3,1,2,1,1
3,11/12/2022 16:32:37,11/12/2022 16:36:21,1,2,76118,2,2,4,3,,...,1,1,3,3,2,3,2,2,2,1
4,11/12/2022 12:55:18,11/12/2022 23:21:17,1,2,76180,3,4,2,3,,...,1,1,3,3,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,3/13/2023 10:41:55,3/13/2023 10:47:29,2,2,76106,3,2,2,3,,...,2,2,2,3,3,2,1,1,1,1
68,4/8/2023 11:03:38,4/8/2023 11:19:51,2,2,76132,3,2,4,3,,...,1,1,1,3,3,1,3,1,1,1
69,6/6/2023 18:18:02,6/6/2023 18:29:18,2,2,.,4,4,2,3,,...,1,2,2,2,2,1,1,1,2,1
70,7/7/2023 18:42:07,7/7/2023 18:50:59,2,2,76105,4,3,2,3,,...,1,2,2,2,2,1,2,2,1,1
71,7/11/2023 16:43:57,7/11/2023 17:05:11,2,2,76110,3,1,2,3,,...,1,1,1,3,3,1,1,1,2,1

Mammogram Stats

In [4]:
dfAbove40 = df[(df['Age'] != 1) & (df['Age'] != 2)]

print("Had a mammogram:")
print("White")
print(dfAbove40[dfAbove40['Q52']=='5'].Q11.value_counts())
print("Hispanic")
print(dfAbove40[dfAbove40['Q52']=='3'].Q11.value_counts())
print("Black")
print(dfAbove40[dfAbove40['Q52']=='2'].Q11.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("White")
print(dfAbove40[dfAbove40['Q52']=='5'].Q13.value_counts())
print("Hispanic")
print(dfAbove40[dfAbove40['Q52']=='3'].Q13.value_counts())
print("Black")
print(dfAbove40[dfAbove40['Q52']=='2'].Q13.value_counts())

Had a mammogram:
White
1    6
     1
Name: Q11, dtype: int64
Hispanic
1    11
2     5
Name: Q11, dtype: int64
Black
1    4
Name: Q11, dtype: int64
Compliance:
White
1    6
     1
Name: Q13, dtype: int64
Hispanic
1    7
     6
2    3
Name: Q13, dtype: int64
Black
1           3
I forgot    1
Name: Q13, dtype: int64

In [ ]:
#print("Overview of Incomes:")
#dfAbove40.HouseholdIncome.value_counts()

# More than 40k, and less than 40k - two groups

print("Mammogram stats:")
print("Less than 40k income - mammogram stats:")
print(dfAbove40[dfAbove40['HouseholdIncome'] <=2].Q11.value_counts())
print("More than 40k income - mammogram stats:")
print(dfAbove40[dfAbove40['HouseholdIncome'] > 2].Q11.value_counts())

# Compliance Stats

print("Compliance stats:")
print("Less than 40k income - comp stats:")
print(dfAbove40[dfAbove40['HouseholdIncome'] <=2].Q13.value_counts())
print("More than 40k income - comp stats:")
print(dfAbove40[dfAbove40['HouseholdIncome'] > 2].Q13.value_counts())

In [ ]:
#print("Overview of Education Levels")
#dfAbove40.Q3.value_counts()

# High School or below, More than high school - two groups

print("Mammogram Stats:")
print("Less than HS - mammogram stats:")
print(dfAbove40[dfAbove40['Q3'] <=2].Q11.value_counts())
print("More than HS - mammogram stats:")
print(dfAbove40[dfAbove40['Q3'] > 2].Q11.value_counts())

# Compliance Stats
print("Comp Stats:")
print("Less than HS - mammogram stats:")
print(dfAbove40[dfAbove40['Q3'] <=2].Q13.value_counts())
print("More than HS - mammogram stats:")
print(dfAbove40[dfAbove40['Q3'] > 2].Q13.value_counts())

Cervical Cancer Screening

In [ ]:
dfA21B65 = df[df['Age']!=1]
# Making a DF for ages 21 to 65

# Checking for Pap Smear exams
#print(dfA21B65.Q20.value_counts())

# Checking for overdue exams
#print(dfA21B65[dfA21B65['Q20']=='1'].Q19.value_counts())

print("Had a pap smear:")
print("White")
print(dfA21B65[dfA21B65['Q52']=='5'].Q20.value_counts())
print("Hispanic")
print(dfA21B65[dfA21B65['Q52']=='3'].Q20.value_counts())
print("Non-Hispanic")
print(dfA21B65[dfA21B65['Q52']!='3'].Q20.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("White")
print(dfA21B65[dfA21B65['Q52']=='5'].Q19.value_counts())
print("Hispanic")
print(dfA21B65[dfA21B65['Q52']=='3'].Q19.value_counts())
print("Black")
print(dfA21B65[dfA21B65['Q52']=='2'].Q19.value_counts())

In [ ]:
# Overview of Income levels
#print(dfA21B65.HouseholdIncome.value_counts())

print("Had a pap smear:")
print("Less than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']<=2].Q20.value_counts())
print("More than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']>2].Q20.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("Less than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']<=2].Q19.value_counts())
print("More than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']>2].Q19.value_counts())

In [ ]:
# Overview of Edu Levels
#print(dfA21B65.Q3.value_counts())

print("Had a pap smear:")
print("Less than =HS")
print(dfA21B65[dfA21B65['Q3']<=2].Q20.value_counts())
print("More than HS")
print(dfA21B65[dfA21B65['Q3']>2].Q20.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("Less than =HS")
print(dfA21B65[dfA21B65['Q3']<=2].Q19.value_counts())
print("More than HS")
print(dfA21B65[dfA21B65['Q3']>2].Q19.value_counts())

HPV Vaccine Stats

In [ ]:
# Overview of HPV Vacc. stats
#print(df['Q9'].value_counts())

# Race/ Ethnicity stats
print("HPV:")
print("White")
print(df[df['Q52']=='5'].Q9.value_counts())
print("Hispanic")
print(df[df['Q52']=='3'].Q9.value_counts())
print("Non-white")
print(df[df['Q52']!='5'].Q9.value_counts())

In [ ]:
#print(df['HouseholdIncome'].value_counts())

print("HPV Income based stats")
print("Below 40k:")
print(df[df['HouseholdIncome']<=2].Q9.value_counts())
print("Above 40k:")
print(df[df['HouseholdIncome']>2].Q9.value_counts())

In [ ]:
#print(df['Q3'].value_counts())

print("HPV Education based stats")
print("Below or equal to HS:")
print(df[df['Q3']<=2].Q9.value_counts())
print("Above HS:")
print(df[df['Q3']>2].Q9.value_counts())

Breast Exam Stats

In [14]:
# Printing stats of breast exams conducted and times
#print(dfA21B65.Q4.value_counts())

print("Had a breast exam:")
print("White")
print(dfA21B65[dfA21B65['Q52']=='5'].Q4.value_counts())
print("Hispanic")
print(dfA21B65[dfA21B65['Q52']=='3'].Q4.value_counts())
print("Non-Hispanic")
print(dfA21B65[dfA21B65['Q52']!='3'].Q4.value_counts())

#print(dfA21B65[dfA21B65['Q4']==1].Q5.value_counts())
print("Compliance:")
print("White")
print(dfA21B65[dfA21B65['Q52']=='5'].Q5.value_counts())
print("Hispanic")
print(dfA21B65[dfA21B65['Q52']=='3'].Q5.value_counts())

Had a breast exam:
White
1    12
2     1
Name: Q4, dtype: int64
Hispanic
1    21
2    10
Name: Q4, dtype: int64
Non-Hispanic
1    25
2     3
Name: Q4, dtype: int64
Compliance:
White
1    7
2    3
3    1
     1
4    1
Name: Q5, dtype: int64
Hispanic
                                                        13
4                                                        7
1                                                        6
3                                                        3
2                                                        1
Uncertain of the year but it has been a while since.     1
Name: Q5, dtype: int64

In [15]:
print("Had a breast exam:")
print("Less than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']<=2].Q4.value_counts())
print("More than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']>2].Q4.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("Less than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']<=2].Q5.value_counts())
print("More than 40k")
print(dfA21B65[dfA21B65['HouseholdIncome']>2].Q5.value_counts())

Had a breast exam:
Less than 40k
1    27
2    10
Name: Q4, dtype: int64
More than 40k
1    19
2     3
Name: Q4, dtype: int64
Compliance:
Less than 40k
                                                        12
1                                                        8
4                                                        7
3                                                        6
2                                                        2
Not sure                                                 1
Uncertain of the year but it has been a while since.     1
Name: Q5, dtype: int64
More than 40k
1    10
      6
2     2
4     2
3     2
Name: Q5, dtype: int64

In [21]:
# Overview of Edu Levels
#print(dfA21B65.Q3.value_counts())

print("Had a breast exam?:")
print("Less than =HS")
print(dfA21B65[dfA21B65['Q3']<=2].Q4.value_counts())
print("More than HS")
print(dfA21B65[dfA21B65['Q3']>2].Q4.value_counts())

#dfAbove40.Q13.value_counts()
print("Compliance:")
print("Less than =HS")
print(dfA21B65[dfA21B65['Q3']<=2].Q5.value_counts())
print("More than HS")
print(dfA21B65[dfA21B65['Q3']>2].Q5.value_counts())

Had a breast exam?:
Less than =HS
1    16
2     5
Name: Q4, dtype: int64
More than HS
1    30
2     8
Name: Q4, dtype: int64
Compliance:
Less than =HS
                                                        7
4                                                       5
1                                                       4
3                                                       3
Not sure                                                1
Uncertain of the year but it has been a while since.    1
Name: Q5, dtype: int64
More than HS
1    14
     11
3     5
4     4
2     4
Name: Q5, dtype: int64

Barriers to Mammography:

In [27]:
print(dfAbove40['Q14'].value_counts())
print(dfAbove40['Q14_6_TEXT'].value_counts())

         7
1        5
6        5
1,5      3
3        2
5        2
1,2      1
1,3      1
1,2,4    1
1,6      1
Name: Q14, dtype: int64
                 23
N\A               1
NONE              1
No Healthcare     1
Insurance         1
None              1
Name: Q14_6_TEXT, dtype: int64

Barriers to Cervical Cancer Screening (Pap Smear)

In [28]:
print(dfA21B65['Q18'].value_counts())
print(dfA21B65['Q18_6_TEXT'].value_counts())

           19
1          12
6           9
3           8
1,5         3
1,3         2
1,3,5       1
1,2         1
2           1
1,2,3,6     1
1,6         1
5           1
Name: Q18, dtype: int64
                                                                           49
Pap smear: last time I scheduled a well woman check they didn’t do one.     1
NOne                                                                        1
Just didn't get one                                                         1
I haven't checked to see if my new insurance covers it                      1
Had it done                                                                 1
Young age                                                                   1
Work, kids, school                                                          1
Insurance                                                                   1
None                                                                        1
Name: Q18_6_TEXT, dtype: int64

Barriers to HPV Vaccine

In [29]:
print(dfA21B65['Q10'].value_counts())
print(dfA21B65['Q10_6_TEXT'].value_counts())

           21
5          14
6          11
1           6
1,5         2
3,4,5       1
1,3,5       1
1,3         1
1,2,3,5     1
3           1
Name: Q10, dtype: int64
                                       48
Age                                     2
Not available for my age                1
Didn't think I needed it                1
Wasn’t available when I was younger     1
Don’t need it                           1
Not eligible by age                     1
Wasn’t around when I was a teenager     1
Not recommended to me                   1
Name: Q10_6_TEXT, dtype: int64